[submodule "submodules/Vulkan-Headers"]
	path = submodules/Vulkan-Headers
	url = git@github.com:KhronosGroup/Vulkan-Headers.git
[submodule "submodules/stb"]
	path = submodules/stb
	url = git@github.com:nothings/stb.git
